.orders-container {
    max-width: 800px;
    margin: 30px auto;
    font-family: sans-serif;
  }
  
  .order-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .order-items ul {
    padding-left: 20px;
  }
  .page-full-height {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.orders-container {
  flex: 1;
  padding: 20px;
}
.empty-orders {
  flex: 1;
  display: flex;
  align-items: center;     
  justify-content: center; 
  text-align: center;
  font-size: 1.2rem;
  color: #444;
  padding: 40px;
}
.orders-title {
  text-align: center;
  margin-bottom: 90px;
  font-size: 30px;
  color: #020202;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
  