/* === Container Principal === */
.product-details-container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  padding: 50px;
  max-width: 1200px;
  margin: auto;
  background-color: #fff;
}

/* === Section Image === */
.detail-image-section {
  flex: 1 1 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-image {
  width: 100%;
  max-width: 450px;
  object-fit: contain;
  border-radius: 12px;
}

/* === Miniatures  */
.image-gallery {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

.thumb {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s, border-color 0.2s;
}

.thumb:hover {
  transform: scale(1.05);
}

.thumb.active {
  border-color: #2d2f2f;
}

/* === Infos Produit === */
.detail-info {
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
.product-titlel {
  font-size: 30px !important; /* 🛡️ نغصب عليه يكبر */
  font-weight: bold;
  color:#3F3F3F;
  margin-bottom: 7px;
 
}


.price {
  font-size: 24px;
  font-weight: bold;
  color: #525452;
}

/* === Quantité === */
.quantity-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quantity-controls {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  border: 1px solid #ccc;
  padding: 8px 10px;
  border-radius: 8px;
  width: fit-content;
}

.quantity-controls button {
  padding: 4px 10px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* === Actions (Boutons) === */
.button-actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.add-to-cart,
.buy-now {
  padding: 15px;
  font-size: 16px;
  width: 100%;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart {
  background-color: transparent;
  color: #000;
  border: 2px solid #000;
}

.add-to-cart:hover {
  background-color: #f5f5f5;
}

.buy-now {
  background-color:#3BD6F3; 
  color: white;
  border: none;
  font-weight: bold;
}

.buy-now:hover {
  background-color:#A3B18A;
}

/* === Description Produit === */
.product-description {
  margin-top: 30px;
}

.product-description h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.product-description p {
  font-size: 16px;
  color: #555;
  line-height: 1.7;
}


