.verify-wrapper {
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .verify-card {
    background: white;
    padding: 40px;
    border-radius: 12px;
    width: 90%;
    max-width: 420px;
    text-align: center;
  
  }
  
  .verify-card h1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .code-input {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    border: 2px solid #222;
    border-radius: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  .submit-btn {
    width: 100%;
    background-color: #32daf2;
    border: none;
    padding: 14px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #A3B18A;
  }
  
  .alt-email, .confidential {
    font-size: 14px;
    margin-top: 12px;
    color: #007b8a;
    cursor: pointer;
  }
  