.product-list {
    padding: 40px 20px;
    text-align: center;
    background-color: #fff;
  }
  
  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    justify-content: center;
  }
  
  
  .product-card {
    width: 220px; /* fixe la largeur pour avoir une taille uniforme */
    background: #fff;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    width: 200px; /* taille réduite */
    height: 200px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  
  .product-titlee {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .product-price {
    font-size: 14px;
    color: #4b4f4b; 
  }
  /* === Filtre de tri === */
.filter-sort {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 20px;
  padding: 0 20px;
  font-size: 17px;
}

.filter-sort label {
  font-weight: 700;
  color: #333;
}

.filter-sort select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  font-size: 17px;
  cursor: pointer;
  transition: border 0.2s ease-in-out;
}

.filter-sort select:hover,
.filter-sort select:focus {
  border-color: #0f0f0f;
  outline: none;
}
.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 30px;
  flex-wrap: wrap;
  align-items: center;
}

.pagination button {
  padding: 6px 12px;
  border: none;
  background-color: transparent;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out;
}

.pagination button.active {
  font-weight: bold;
  border-bottom: 2px solid #000;
}

.pagination button:hover:not(.active) {
  border-bottom: 2px solid #ccc;
}

.pagination button:disabled {
  color: #aaa;
  cursor: not-allowed;
}

.pagination span {
  padding: 6px 8px;
  color: #999;
}
