/* Bouton retour */
.return-home {
    display: block;
    font-size: 16px;
    color: #191821;  
    text-decoration: none; 
    font-weight: bold;
    margin-top: 20px;   
    margin-left: 20px; 
  }
  
  .return-home:hover {
    color: #5118c4;
  }
  
  /* Section Contact page */
  .contact-page {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    text-align: center;
  }
  
  /* Titre */
  .contact-page h2 {
    color: #19191a;
    margin-bottom: 15px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  /* Description sous le titre */
  .contact-page p {
    font-size: 1em;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.5;
  
  }
  
  /* Formulaire */
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
  }
  
  /* Groupe de champ */
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  
  .form-group label {
    font-weight: bold;
    color: #333;
  }
  
  /* Champs de saisie */
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    outline: none;
    transition: border 0.3s ease;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    border: 1px solid #3BD6F3;
  }
  
  /* Textarea spécifique */
  .form-group textarea {
    resize: none;
    height: 100px;
  }
  
  /* Bouton envoyer */
  .submit-btn {
    background-color: #3BD6F3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #A3B18A;
  }
  