
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: white;
}

.register-form {
  width: 90%;
  max-width: 420px;
  padding: 40px;
  background-color: #fff;
 
  text-align: center;
}


.register-form h2 {
  font-size: 28px;
  color: #222;
  margin-bottom: 30px;
}


.register-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 15px;
  transition: border 0.3s;
}

.register-form input:focus {
  border: 1px solid #888;
  outline: none;
}

.register-form button {
  padding: 10px 30px;
  background-color:#3BD6F3;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.register-form button:hover {
  background-color:#A3B18A;
}
.error {
  color: red;
  font-size: 0.9em;
  margin-top: 4px;
  margin-bottom: 8px;
}
